 main {
     margin: 100px 70px;
 }

 h1 {
     text-align: center;
     font-size: 50px;
     margin-top: 10px;
     margin-bottom: 15px;
     color: rgba(66, 20, 20, 0.8);
 }

 #main-wrapper{
     /* margin: 100px 50px; */
     box-shadow: 0 0 8px #ccc;
     
     
 }
 #team-wrapper {
    display: flex;
     align-items: flex-start;
     justify-content: space-between;
     height: 420px;
     border-bottom: 1px solid #ccc;
     
 }
 .marg{
     margin-left: 15px;
     color: yellow;
 }

 #team-icon {
     width: 40%;

 }
 #team-info {
     width : 60%;
     margin-left: 20px;
 }

 #team-info h2 {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;    
    color: rgba(95, 27, 27, 0.8);
 }
 .players-head {
     text-align: center;
     font-size: 40px;
     color: rgba(95, 27, 27, 0.8);
 }

 #team-info h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: rgba(95, 27, 27, 0.8);
 }

 #team-icon img {
    width: 100%;
    height: 420px;
 }


 #players-wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-start;
 }

 .player-card {
     display: inline-block;
     width: 21%;
     margin:20px ;
     box-shadow: 0 0 8px #ccc;
     border-radius: 8px;
     box-sizing: border-box;
     padding: 14px;
     cursor: pointer;
     height: 495px;
 }

 .player-card  img {
     width: 100%;
     height:auto;
 }

 /* .player-card h4 {
     /* display: inline-block; */
 /* } */ 

 .link-handle {
     display: contents;
     text-decoration: none;
     color: black;

 }